{% extends 'base.html' %}

{% block title %}
    Post-detail
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
    <div>{{post.body}}</div>
    {% if request.user.is_authenticated and not request.user.role == "ordinary" %}
        <a href="{{ post.get_update_url }}" class="btn btn-primary">Редактировать</a>
        <a href="{{ post.get_delete_url }}" class="btn btn-danger">Удалить</a>
    {% endif %}
    <hr>
{% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
{% endwith %}


